{% extends 'layouts/base.html' %}
{% block css %}
<link
  href="{{ url_for('static', filename='css/landing/etc.css')}}"
  rel="stylesheet">

<link
  href="{{ url_for('static', filename='css/landing/footer.css')}}"
  rel="stylesheet">

<link
  href="{{ url_for('static', filename='css/landing/header.css')}}"
  rel="stylesheet">

<link
  href="{{ url_for('static', filename='css/landing/section.css')}}"
  rel="stylesheet">

{% endblock %}
{% block header %}
{% include 'pages/landing/components/header.html' %}
{% endblock %}

{% block content%}

<div class="SOS">

  <main class="main">

    <!-- Landing Section-->
    {% include 'pages/landing/components/section/hero-section.html' %}
    <!-- End Landing -->

    <!-- About Section -->
    {% include 'pages/landing/components/section/about-section.html' %}
    <!-- End About -->

    <!-- Events Section -->
    {% include 'pages/landing/components/section/events-section.html' %}
    <!-- End Events -->

    <!-- Menu Section -->
    {% include 'pages/landing/components/section/menu-section.html' %}
    <!-- End Menu -->
    <section id="="
      class="section events d-flex flex-column "
      data-aos="fade-up">

    </section>
  </main>

</div>
{% endblock %}

{% block footer %}
{% include 'pages/landing/components/footer.html' %}
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/landing.js')}}"></script>
{% endblock %}