<section id="about" class="section about d-flex flex-column"
    data-aos="fade-up">
    <div class="container section-title" data-aos="fade-up">
        <h2 class="pacifico-regular">About Us<br></h2>
        <p><span class="ultra-regular">Learn More</span> <span
                class="description-title ultra-regular">About
                Us</span></p>
    </div><!-- End Section Title -->
    <div class="container about-container">
        <div class="row gy-4 justify-content-center justify-content-lg-evenly"
            data-aos="fade-right" data-aos-delay="50">
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center t">
                <img
                    src="{{url_for('static', filename='imgs/etc/family-having-dinner-1024x585.jpg')}}"
                    class="img-fluid animated img-holder" alt>
            </div>
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-evenly">
                <h1>Cảm Hứng</h1>
                <span class="about-span text-start text-justify">
                    - Nhà hàng của chúng
                    tôi được hình thành từ
                    một mong muốn giản
                    đơn:
                </span>
                <h2
                    class='imperial-script-regular bold mt-2 text-start text-justify'>
                    "Tạo ra một nơi mà
                    mọi
                    người
                    có
                    thể tìm thấy sự ấm
                    áp qua những bữa ăn chân thật."</h2>
            </div>
        </div>

        <div
            class="row gy-4 justify-content-center justify-content-lg-evenly mt-2"
            data-aos="fade-left" data-aos-delay="50">
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-evenly">

                <span class="about-span text-start text-justify">
                    - Người sáng lập lớn lên trong gia đình có truyền thống nấu
                    nướng,
                    nơi sự tận tâm hiện diện trong từng món ăn. Những hương vị
                    ấy đã
                    nuôi dưỡng đam mê ẩm thực cháy bỏng ở trong anh. <br><br>-
                    Qua
                    nhiều
                    năm
                    học hỏi và trải nghiệm, anh nhận
                    ra rằng:
                </span>
                <h2
                    class="imperial-script-regular bold mt-2 text-start text-justify">"Điều
                    làm nên giá trị của món ăn không chỉ là công thức, mà
                    là cảm xúc nó mang lại."</h2>
            </div>
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center ">
                <img
                    src="{{url_for('static', filename='imgs/etc/chef.jpg')}}"
                    class="img-fluid animated img-holder object-fit-cover object-position-top"
                    alt>
            </div>
        </div>

        <div
            class="row gy-4 justify-content-center container  mt-4"
            data-aos="fade-down" data-aos-delay="50">
            <h2
                class="imperial-script-regular bold mt-4 text-start text-justify">"Chúng
                tôi tin rằng ẩm thực là cầu nối giữa con người, và sứ mệnh của
                chúng
                tôi là mang lại cho bạn những phút giây thư giãn, thoải mái và
                trọn
                vẹn nhất qua từng món ăn."
                <br><h3 class="text-center mt-3">Chef. Quang</h3>
            </h2>
            <div class="d-flex justify-content-center" data-aos="fade-up"
                data-aos-delay="150">
                <a href="#book-a-table" class="btn-get-started bold">
                    Đặt bàn ngay
                </a>
            </div>
        </div>
    </div>
</section>