<section id="events"
    class="section events d-flex flex-column dark-background"
    data-aos="fade-right" data-aos-delay="100" data-aos-duration="300">
    <div class="container section-title" data-aos="fade-up">
        <h2>Events<br></h2>
        <p><span>Discover</span> <span class="description-title">Our
                Events</span></p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-evenly">
            <div
                class="session-event row justify-content-center justify-content-lg-evenly gy-4">
                <div>
                    <h1 data-aos="fade-right" data-aos-delay="100"> Seasonal
                        Event</h1>
                    <div class="line" data-aos="fade-right"
                        data-aos-delay="100"></div>
                </div>
                <div
                    class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">

                    <h1 data-aos="fade-up">Noel năm nay hơi lạnh… <br>Liệu đã có
                        ai
                        sưởi
                        ấm trái tim cậu hay chưa?</h1>
                    <p data-aos="fade-up" data-aos-delay="100"
                        class="text-justify">
                        – Nếu cậu vẫn còn một mình, đừng lo. Hãy để chúng tôi
                        sưởi ấm bầu không khí và mang đến cho bạn một mùa Giáng
                        Sinh
                        thật trọn vẹn !!!
                        <br>
                        <br>
                        – Còn nếu cậu đã có người thương, chúng tôi cũng đã
                        chuẩn
                        bị những ưu đãi đặc biệt dành riêng cho các cặp đôi để
                        cùng nhau
                        tạo nên những khoảnh khắc đáng nhớ !!!
                    </p>
                    <div class="justify-content-center d-flex"
                        data-aos="fade-up"
                        data-aos-delay="100">
                        <a href="#booking" class="btn-get-started bold">Đặt
                            bàn
                            ngay</a>
                    </div>

                </div>
                <div class="col-lg-5 order-1 order-lg-2 hero-img"
                    data-aos="zoom-out">
                    <img
                        src="{{url_for('static', filename='imgs/etc/noel.jpg')}}"
                        class="img-fluid animated img-holder" alt>
                </div>
            </div>

            <div
                class="session-event row justify-content-center justify-content-lg-evenly gy-4">
                <div>
                    <h1 class="text-end" data-aos="fade-left"
                        data-aos-delay="100">
                        Private Events</h1>
                    <div class="line" data-aos="fade-left"
                        data-aos-delay="100"></div>
                </div>
                <div
                    class="row d-flex flex-column justify-content-center">
                    <h2 data-aos="fade-up" data-aos-delay="100"
                        class="text-center mt-5">
                        Không chỉ là nơi để thưởng thức bữa ăn, Đồi Gió còn là
                        địa điểm
                        lý tưởng để bạn tổ chức những sự kiện đáng nhớ.
                    </h2>

                </div>
            </div>
        </div>
        <div class="event-slider w-100 container m-4">
            <div class="swiper events-swiper">
                <div class="swiper-wrapper">
                    <div
                        class="d-flex justify-content-between wedding-slide swiper-slide flex-column">
                        <div class="w-100"></div>
                        <div class="p-3">
                            <div
                                class="d-flex w-100 justify-content-between events-info"
                                data-aos="fade-up" data-aos-delay="100">
                                <h1>Đám Cưới</h1>
                                <h1>$4999</h1>
                            </div>
                            <div class="line" data-aos="fade-right"
                                data-aos-delay="125">
                            </div>
                        </div>
                    </div>
                    <div
                        class="d-flex justify-content-between birthday-slide swiper-slide flex-column">
                        <div class="w-100"></div>
                        <div class="p-3">
                            <div
                                class="d-flex w-100 justify-content-between events-info"
                                data-aos="fade-up" data-aos-delay="100">
                                <h1>Sinh Nhật</h1>
                                <h1>$199</h1>
                            </div>
                            <div class="line" data-aos="fade-right"
                                data-aos-delay="125">
                            </div>
                        </div>
                    </div>
                    <div
                        class="d-flex justify-content-between gala-slide swiper-slide flex-column">
                        <div class="w-100"></div>
                        <div class="p-3">
                            <div
                                class="d-flex w-100 justify-content-between events-info"
                                data-aos="fade-up" data-aos-delay="100">
                                <h1>Gala</h1>
                                <h1>$499</h1>
                            </div>
                            <div class="line" data-aos="fade-right"
                                data-aos-delay="125">
                            </div>
                        </div>
                    </div>
                    <div
                        class="d-flex justify-content-between thoinoi-slide swiper-slide flex-column">
                        <div class="w-100"></div>
                        <div class="p-3">
                            <div
                                class="d-flex w-100 justify-content-between events-info"
                                data-aos="fade-up" data-aos-delay="100">
                                <h1>Thôi Nôi</h1>
                                <h1>$99</h1>
                            </div>
                            <div class="line" data-aos="fade-right"
                                data-aos-delay="125">
                            </div>
                        </div>
                    </div>
                    <div
                        class="d-flex justify-content-between business-slide swiper-slide flex-column">
                        <div class="w-100"></div>
                        <div class="p-3">
                            <div
                                class="d-flex w-100 justify-content-between events-info"
                                data-aos="fade-up" data-aos-delay="100">
                                <h1>Xã Giao</h1>
                                <h1>$199</h1>
                            </div>
                            <div class="line" data-aos="fade-right"
                                data-aos-delay="125">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="text-center m-5 mb-0" data-aos="zoom-out-down" data-aos-delay="150">Hãy liên hệ ngay để được tư vấn đầy đủ
                và chi tiết. <br>Sự hiện diện của bạn luôn là niềm vinh hạnh đối
                với chúng tôi!!!</h2>
        </div>

    </div>
</section>