<header id="header" class="header d-flex align-items-center sticky-top">
    <div
        class="container position-relative d-flex align-items-center justify-content-between">

        <a href="/"
            class="logo d-flex align-items-center ">
            <h1 class="sitename">Đồi Gió</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#landing">Home<br></a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#events">Events</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <a class="btn-getstarted" href="#">Đặt bàn ngay</a>

    </div>
</header>